extends dashb_layout

block content
    .content-header NOTES

    .section
        //-note cards
        a(href='/newnotes', title='Create New Notes')
            .card-holder.three_w
                .uk-card.uk-card-primary.uk-card-hover.uk-card-body.card-height
                    .card-icon-center
                        span(uk-icon='icon: plus; ratio: 2')

        if notes != null
            for item, i in notes
                //-define the variables
                - var id =  notes[i].id
                - var content = notes[i]
                - var target = 'target: #modal' + i
                - var modalID = 'modal' + i
                - var targetDEL = 'target: #delete' + i
                - var modalDEL = 'delete' + i

                .card-holder.three_w
                    .uk-card.uk-card-default.uk-card-hover.uk-card-body.card-height.uk-padding-small

                        .card-body.smooth(uk-toggle=target)
                                .uk-card-badge.uk-label #{i+1}
                                .uk-card-title #{notes[i].heading}
                                p #{notes[i].subhead}

                        .card-footer
                            //-edit button
                            form(method='POST', action='/editnote')
                                input(type='hidden', name='strID', value=id)
                                input(type='hidden', name='strContent', value=content)
                                button.f-icon.edit(type='submit', title='Edit Note')
                                    span(uk-icon='icon: file-edit')
                            
                            //-delete button
                            button.f-icon.delete(type='submit', title='Delete Note', uk-toggle=targetDEL)
                                span(uk-icon='icon: trash')

                            //-date
                            .date-info
                                b #{notes[i].date}

                //-delete modal
                div.uk-flex-top(id=modalDEL, uk-modal)
                    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                        button.uk-modal-close-default(type='button', uk-close)
                        .uk-modal-header
                            h2.uk-modal-title DELETE NOTE
                            p Are you sure you want to delete the note ?
                        .uk-modal-footer.uk-text-right
                            form(method='POST', action='/deletenote')
                                input(type='hidden', name='strID', value=id)
                                button.uk-button.uk-button-primary(type='submit') YES
                                button.uk-button.uk-modal-close.uk-button-default(type='button') NO

                //-modal for notes
                div.uk-flex-top(id=modalID, uk-modal)
                    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                        button.uk-modal-close-default(type='button', uk-close)
                        .uk-modal-header
                            h2.uk-modal-title #{notes[i].heading}
                            p #{notes[i].subhead}
                        
                        - var notesinfo = notes[i].content 
                        .uk-modal-body(uk-overflow-auto)
                            | !{notesinfo}
                            
